## Re-identification and De-identification

In [1]:
import pandas as pd

In [3]:
"""
Useful display function for dataframe
"""
def display_df(df, nrows=10, ncols=None):
    with pd.option_context('display.max_rows', nrows, 'display.max_columns', ncols):
        display (df)

In [4]:
"""
Reads configuration file, a list of strings seperated by new lines
"""
def read_config(file):
    with open(file) as f:
        identifiers = [(q) for q in f.read().split()]
    f.close()
    return identifiers

In [2]:
#whole unaltered dataset
df_raw = pd.read_csv("../mid_sample_set.csv")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
display_df(df_raw)

,course_id,user_id,registered,viewed,explored,certified,completed,ip,cc_by_ip,countryLabel,continent,city,region,subdivision,postalCode,un_major_region,un_economic_group,un_developing_nation,un_special_region,latitude,longitude,LoE,YoB,gender,grade,passing_grade,start_time,first_event,last_event,nevents,ndays_act,nplay_video,nchapters,nforum_posts,nforum_votes,nforum_endorsed,nforum_threads,nforum_comments,nforum_pinned,roles,nprogcheck,nproblem_check,nforum_events,mode,is_active,cert_created_date,cert_modified_date,cert_status,verified_enroll_time,verified_unenroll_time,profile_country,y1_anomalous,email_domain,language_brwsr,language_brwsr_country,language_brwsr_sec,language_brwsr_sec_country,language_brwsr_code,language_brwsr_subcode,language_brwsr_sec_code,language_brwsr_sec_subcode,language_brwsr_nevents,language_brwsr_ndiff,language,language_download,language_nevents,language_ndiff,ntranscript,nshow_answer,nvideo,nvideos_unique_viewed,nvideos_total_watched,nseq_goto,nseek_video,npause_video,avg_dt,sdv_dt,max_dt,n_dt,sum_dt,roles_isBetaTester,roles_isInstructor,roles_isStaff,roles_isCCX,roles_isFinance,roles_isLibrary,roles_isSales,forumRoles_isAdmin,forumRoles_isCommunityTA,forumRoles_isModerator,forumRoles_isStudent
0,HarvardX/PH525.1x/1T2018,29940,True,False,NaN,False,False,198.214.249.125,US,United States,Americas,Austin,TX,Texas,78713,Northern America,Developed regions,NaN,NaN,30.2672,-97.7431,NaN,NaN,NaN,NaN,0.7,2018-04-09 20:35:12,2018-04-09 20:35:12.514905,2018-04-09 20:35:15.033008,6.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yahoo.com,English,United States,NaN,NaN,en,US,NaN,NaN,2.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,1.259051,1.393814,2.244627,4.0,5.036206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,HarvardX/PH525.1x/1T2018,37095,True,False,NaN,False,False,119.30.45.190,BD,Bangladesh,Asia,Dhaka,13,Dhaka,NaN,Southern Asia,Developing_Nations,Least developed countries,NaN,23.7231,90.4086,b,1991.0,m,NaN,0.7,2018-05-13 11:02:23,2018-05-13 11:02:23.107110,2018-05-28 10:53:00.201573,11.0,5.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,BD,NaN,gmail.com,English,United States,Bengali,NaN,en,US,bn,NaN,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,0.027027,0.0,0.0,0.0,27.885878,66.265418,157.780183,6.0,268.124883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,HarvardX/PH525.1x/1T2018,45634,True,False,NaN,False,False,201.233.80.3,CO,Colombia,Americas,Medellín,ANT,Antioquia,NaN,South America,Developing_Nations,NaN,Latin America and the Caribbean,6.2518,-75.5636,m,1982.0,m,NaN,0.7,2017-12-23 06:06:17,2017-12-23 06:06:17.344874,2017-12-23 06:06:17.344874,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,CO,NaN,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,HarvardX/PH525.1x/1T2018,52234,True,False,NaN,False,False,213.114.41.34,SE,Sweden,Europe,Skanör,M,Skåne,NaN,Northern Europe,Developed regions,NaN,NaN,55.4167,12.8500,p,1988.0,m,NaN,0.7,2018-01-04 11:24:45,2018-01-04 11:24:44.701936,2018-03-27 17:58:17.561094,5.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,SE,NaN,gmail.com,English,United States,NaN,NaN,en,US,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,2.000444,NaN,2.000444,2.0,4.000888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,HarvardX/PH525.1x/1T2018,52238,True,True,False,False,False,177.226.237.217,MX,Mexico,Americas,León,GUA,Guanajuato,NaN,Central America,Developing_Nations,NaN,Latin America and the Caribbean,21.0931,-101.6450,NaN,NaN,NaN,NaN,0.7,2018-01-16 19:34:38,2018-01-16 19:34:37.619153,2018-02-10 06:44:12.467841,18.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hotmail.com,Spanish; Castilian,NaN,NaN,NaN,es,419,NaN,NaN,11.0,1.0,en,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.027027,1.0,0.0,1.0,14.755267,49.783730,141.493084,12.0,299.270725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199994,HarvardX/Hum3.1x/1T2016,15291085,True,True,True,False,False,60.240.46.14,AU,Australia,Oceania,Silverdale,NSW,New South Wales,2752,Australia and New Zealand,Developed regions,NaN,NaN,-33.9011,150.6094,jhs,2002.0,NaN,0.00,0.8,2017-07-17 07:46:32,2018-02-26 08:27:53.994237,2018-02-26 08:28:57.281660,132.0,11.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,AU,NaN,student.olmc.nsw.edu.au,English,Australia,NaN,NaN,en,AU,NaN,NaN,35.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,5.753402,8.081293,26.150566,121.0,696.161653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
199995,HarvardX/Hum3.1x/1T2016,15292716,True,True,True,False,False,83.149.37.162,RU,Russian Federation,Europe,Yekaterinburg,SVE,Sverdlovskaya Oblast',620000,Eastern Europe,Developed regions,NaN,NaN,56.8575,60.6125,NaN,NaN,NaN,0.00,0.8,2017-08-04 14:48:15,2017-08-04 14:48:28.294719,2017-08-04 15:18:10.818108,96.0,12.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,RU,NaN,gmail.com,Russian,Russian Federation,English,United States,ru,RU,en,US,6.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,4.008862,8.549559,21.443544,72.0,288.638064,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
199996,HarvardX/Hum3.1x/1T2016,15295130,True,True,True,False,False,78.174.110.242,TR,Turkey,Asia,Istanbul,34,Istanbul,NaN,Western Asia,Developing_Nations,NaN,NaN,41.0186,28.9647,b,1996.0,f,0.00,0.8,2017-07-17 16:00:01,2017-07-17 00:00:00,2017-07-17 18:11:56.835316,231.0,11.0,11.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,TR,NaN,icloud.com,Turkish,Turkey,English,United States,tr,TR,en,US,16.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1.0,0.035714,22.0,0.0,11.0,14.608896,33.432549,147.768662,209.0,3053.259264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
199997,HarvardX/Hum3.1x/1T2016,15296396,True,True,True,False,False,173.48.184.213,US,United States,Americas,Marshfield,MA,Massachusetts,02050,Northern America,Developed regions,NaN,NaN,42.1112,-70.7127,NaN,2000.0,NaN,0.00,0.8,2017-07-17 18:08:22,2017-07-17 00:00:00,2017-07-26 18:09:48.373877,466.0,23.0,11.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,Student,0.0,0.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,US,NaN,gmail.com,English,United States,NaN,NaN,en,US,NaN,NaN,15.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,11.0,1.0,0.035714,0.0,0.0,11.0,21.162753,68.485882,252.774779,432.0,15939.488633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
199998,HarvardX/Hum3.1x/1T2016,15299318,True,True,True,False,False,139.218.151.71,AU,Australia,Oceania,Brisbane,QLD,Queensland,NaN,Australia and New Zealand,Developed regions,NaN,NaN,-27.4710,153.0243,NaN,2002.0,f,0.26,0.8,2017-07-18 01:33:02,2017-07-18 00:00:00,2017-09-27 12:05:21.522498,10758.0,215.0,3394.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Student,0.0,430.0,0.0,audit,1.0,NaN,NaN,NaN,NaN,NaN,AU,NaN,gmail.com,English,Australia,NaN,NaN,en,AU,NaN,NaN,1456.0,1.0,en,0.0,56.0,1.0,14.0,0.0,3394.0,21.0,0.750000,491.0,64.0,3367.0,27.107347,37.888520,275.139944,9968.0,291475.352685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [7]:
"""
Takes list of fields with NaNs and fills NaN values with fill_val
"""
def replace_NaNs(df, labels, fill_val):
    for label in labels:
        df[label].fillna(fill_val, inplace=True)